

<div class="container">
  <img class="blob" src="../assets/stack.svg" alt="">

  <div class="div1">
    <img class="img2" src="../assets/thumbnail_Odontopediatría logo-03.png" alt="">
  </div>

  <div class="div2">
    <h1>sistema de citas en linea</h1>
    <hr>

      <div  class="formulario" >
        <div>
          <label for="cita">Tipo de Cita</label>
          <select name="cita" id="cita">
            <option disabled selected >selecciona una opción</option>
            <option ngModel name="tipo"> primera vez </option>
            <option ngModel name="tipo"> cita consecutiva </option>
          </select>
        </div>

        <div>
        <label for="tiempo">Tratamiento a realizar</label>
        <select  name="tiempo" id="tiempo">
          <option disabled selected >selecciona una opción</option>
          <option></option>
        </select>
        </div>

      <button> Siguiente </button>
      </div>

  </div>


</div>
