* {
  box-sizing: border-box ;
  padding: 0 ;
  margin: 0 ;
  }
.container{
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1{
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  align-items: start;
  justify-content: center;
}
.blob{
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.img2{
  position: absolute;
  width: 80%;
}
.div2{
  padding: 1em 2em;
  width: 50%;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario{
  padding: 2em;
  border: .6em solid #3FA796;
  border-radius: 10px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #6A2C70;
  font-size: 20px;
}

button{

  width: 100%;
  padding: 10px;
  background-color: #8267BE;
  border-radius: 5px;
  border: 5px solid #8267BE;
  color: white;
  font-size: 1em;

}
h1 {
  font-family: 'Luckiest Guy', cursive;
  color: #502064;
  font-weight: 800;
}
select{
  height: 2em;
  border-radius: 4px;
  color: #502064;
  width: 100%;
  font-size: 15px;
}
input{
  height: 2.2em;
  border-radius: 4px;
  color: rgb(109, 108, 108);
  width: 100%;
  font-size: 15px;
  border: 1px solid ;
}
.formulario div{
  margin-bottom: .5em;
}
@media screen and (max-width: 850px){
  .container{
    flex-direction: column;
  }
  .div1{
    top: 2em;
  }
  .div2{
    min-width: 370px;
    bottom: 5em;
  }
  h1{
    font-size: 1.2em;
  }
  .img2{
    top: -50px;
    min-width: 325px;
  }
  .formulario{
    font-size: 15px;
  }
  select{
    font-size: 13px;
  }
}
@media  screen and (max-width:450px) {
  .div2{
    bottom: 15em;
  }


}

