ion-content{
    --ion-background-color:white;
}

.divTestCard {
    position: absolute;
    top: 270px;
    width: 100%;
}

.center {
    text-align: center;
}

.h1___dateLabel {
    color: #531778;
    font-family: inherit;
    width: 100%;
    margin: 12px 0 0 0;
    transition: all .5s;
}

