<div class="container">

  <img class="blob" src="../assets/blob-scene-haikei2.svg" alt="">

  <div class="div1">
    <img class="img2" src="../assets/thumbnail_Odontopediatría logo-03.png" alt="">
  </div>

  <div class="div2">
    <h1>Para finalizar llene los siguientes campos</h1>
    <hr>
    <div class="formulario">
      <div>
        <label for="direction">Dirección:</label>
        <input placeholder="" name="direction" type="text">
      </div>
      <div>
        <label for="age">Edad:</label>
        <input class="age" name="age" type="number">
      </div>
      <div>
        <label for="email">Email:</label>
        <input name="email" type="email">
      </div>
      <div>
        <button> Finalizar </button>

      </div>
    </div>






  </div>





  </div>
